SUPABASE_URL=https://jfmfxsjgxtwowqqqaxbz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmbWZ4c2pneHR3b3dxcXFheGJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NzA2MjAsImV4cCI6MjA5MDU0NjYyMH0.y4WbmddCUM9mTMgPWyVumB-p6ZqzHOV68XFAO-tZ5t0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmbWZ4c2pneHR3b3dxcXFheGJ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk3MDYyMCwiZXhwIjoyMDkwNTQ2NjIwfQ.eWo38Os7SFYK5xnKXPGD3vZnGn8J5njVbHdAv1bG9v0
PORT=3000
JWT_SECRET=2161233f-b882-4be9-975b-0b5de43cb483
